html {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    font-variant: all-small-caps;
}
 
body {

    width: 1195px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 200px; */
    background-color: rgba(65, 126, 240, 0.767);

}

h1{
  color: lightpink;
}
.navbar {
    color: white;
    width: 100%;
    display: flex;

}

.element-navbar {
    display: inline-block;
    margin-top: 16px;
    margin-left: 720px;
}
.btn {
  background-color:lightpink;
  text-align: center; 
}
.row_1 {
    display: inline-flex;
}

#grid {
    background: blue;
    margin-left: 20%;
    margin-right: 11%;
    border-radius: 2%;
    padding-bottom: 1%;
}

#col_y {
    display: inline-flex;
}

span {
	background-color: white;
    border: 4px solid black;
    border-radius: 100%;
    height:100Px; 
    width:125Px;
    margin-left: 3%;
}
#p1{
  color: yellow;
  text-align: end;
}
#p2{
  color: red;
  text-align: end;
}


